@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

body{
  background-color: #60EAC0;
  font-family: 'Noto Sans KR', sans-serif;
  font-size : 2rem;
  margin : 0px;
  padding: 0px;
}
h1{
  font-family: 'Do Hyeon', sans-serif;
  text-align: center;
  font-size: 150px;
  color: white;
  margin-bottom: 20px;
}
h2{
  text-align: center;
  font-weight: normal;
  font-size: 2rem;
  color: #F0F0F0;
  margin-bottom: 100px;
}

.card{
  box-shadow: 6px 6px 0px #209A60;
  border-radius: 10px;
  padding:20px;
  text-align: center;
  background-color: #F9F9F9;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}

h3{
  margin-top: 0px;
  font-size: 2rem;
  font-weight: bold;
}

select, button{
  font-family: 'Noto Sans KR', sans-serif;
  vertical-align: text-bottom;
  box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
}
select{
  border-radius: 0px;
  background-color: white;
  border-width: 3px;
  border-color: #E9E9E9;
  font-size: 1.5rem;
  height: 2.5rem;
}
button{
  border-radius: 10px;
  border-width: 3px;
  border-color: #50DAB0;
  background-color: #50DAB0;
  color : white;
}


#yourmaxnote{
  font-size: 4rem;
  font-weight: bold;
}
#querykeycompensate{
  font-size: 1.5rem;
  color: #FF6060;
  margin-bottom: 0px;
}


#querykey{
  font-size: 4rem;
  font-weight: bold;
  margin-top:20px;
  margin-bottom: 0px;
}

#queryroot{
  font-size: 3rem;
  font-weight: bold;
  color: #909090;
  margin-top : 0px;
}

#availableSongList{
  font-size: 1.5rem;
  color: #404040;
  text-indent: 0px;
  padding: 0px;
}

#requestSong{
  font-size: 1.1rem;
}

#info{
  text-align: center;
  font-size : 1.5rem;
  color: #A0FFE0;
}

.note {
    font-size: 1rem;
    color: #A0A0A0;
}

.lyrics{
  font-size: 2rem;
  color: #606060;
}

.lyrics_highlight{
  font-size: 3rem;
  color: #FF6060;
}
