@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

body{
  background-color: #60EAC0;
  font-family: 'Noto Sans KR', sans-serif;
  font-size : 40px;
  margin : 0px;
  padding: 0px;
}
h1{
  font-family: 'Do Hyeon', sans-serif;
  text-align: center;
  font-size: 150px;
  color: white;
  margin-bottom: 20px;
}
h2{
  text-align: center;
  font-weight: normal;
  font-size: 30px;
  color: #F0F0F0;
  margin-bottom: 100px;
}

div{
  box-shadow: 6px 6px 0px #209A60;
  border-radius: 20px;
  padding:20px;
  text-align: center;
  background-color: #F9F9F9;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 100px;
}

h3{
  margin-top: 0px;
  font-size: 60px;
  font-weight: bold;
}

select{
  font-family: 'Noto Sans KR', sans-serif;
  font-size : 40px;
  border-color: #E9E9E9;
  border-radius: 0px;
  border-width: 3px;
  vertical-align: text-bottom;
  background-color: white;
}


#yourmaxnote{
  font-size: 80px;
  font-weight: bold;
}

#querykey{
  font-size: 100px;
  font-weight: bold;
  margin-bottom: 0px;
}

#queryroot{
  font-size: 70px;
  font-weight: bold;
  color: #909090;
  margin-top : 0px;
}

.note {
    font-size: 20px;
    color: #A0A0A0;
}

.lyrics{
  font-size: 40px;
  color: #606060;
}

.lyrics_highlight{
  font-size: 60px;
  color: #FF6060;
}
